# Exclusions pour le build Docker
.git
.gitignore
.venv
__pycache__
*.py[cod]
*.log
.pytest_cache
mlflow.db
data
exports
logs
uvicorn.log
*.ipynb_checkpoints
.dvc/cache
.dvc/tmp
*.local
*.env
*.env.*
infra/secrets
airflow/
reports/
scripts/
tests/
app/mlops/__pycache__
*.pyc
.dvc/cache
.mlruns
.git
.env
.env.yaz
mlruns/
