# Ignorer les fichier inutiles
*.log
*.tmp
*.pkl
*.joblib
*.db

#repertoires lourds
__pycache__/
data/
outputs/
mlruns/
dvc_remote/

# Ignorer tous les fichiers CSV et Excel
*.csv
*.xlsx
*.parquet
*.zip
*.tar.gz
*.pt

# Ignorer les notebooks Jupyter
.ipynb_checkpoints/
*.ipynb

# *.ipynb
*.venv/
.venv312/
venv/
*.cfg

# Ignorer les fichiers de configuration de l'environnement virtuel
.env
.env.*
.env/*
*.env
env/
*.cfg

# Ignorer les fichiers de configuration de l'IDE
.idea/
.vscode/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de cache
__pycache__/
*.pycdvc_storage/
*.pyc
*.so
*.pyo
dvc_storage/
*.pub/
/data
