fastapi>=0.95
uvicorn[standard]>=0.20
hydra-core
anyio
httpx
pytest
pytest-cov
prometheus-fastapi-instrumentator
pydantic>=2.4
pydantic-settings>=2.1
sqlalchemy
pandas
psutil
python-jose[cryptography]
requests
PyJWT
joblib
passlib[bcrypt]
mlflow
gunicorn
joblib
passlib[bcrypt]
sqlalchemy
pandas
psutil
python-jose[cryptography]
requests
PyJWT

