fastapi
uvicorn
hydra-core
anyio
httpx
pytest
pytest-cov
prometheus-fastapi-instrumentator
pydantic>=2.4
pydantic-settings>=2.1
mlflow>=2.9
dagshub
python-dotenv

uvicorn[standard]
hydra-core
anyio
sqlalchemy
pandas
psutil
python-jose[cryptography]
requests
PyJWT
joblib
passlib[bcrypt]
sqlalchemy
pandas
psutil
python-jose[cryptography]
requests
PyJWT

