# Environnement Python recommandé : 3.10; testé avec DVC[gdrive]==3.44.0

# Core Scientific & Data Manipulation ok
numpy==1.26.4                    # Calcul scientifique
pandas>=2.2.0                   # Manipulation de données
scikit-learn>=1.4.0             # Machine learning généraliste



# Géospatial
geopandas>=0.14.0               # Données géographiques ok


# API + Frontend
fastapi==0.111.0                # API REST
uvloop
uvicorn[standard]==0.29.0       # Serveur ASGI pour FastAPI
python-multipart==0.0.9         # Pour gérer les fichiers FastAPI
pydantic==2.7.1                 # Validation de données (FastAPI, modèles)
streamlit==1.35.0               # Interface utilisateur web interactive
httptools==0.5.0
prometheus-fastapi-instrumentator==6.1.0

# MLOps
mlflow==2.13.0                  # Tracking d’expériences ML

