# Environnement Python recommandé : 3.10; testé avec DVC[gdrive]==3.44.0

# Core Scientific & Data Manipulation

# API + Frontend
fastapi==0.111.0                # API REST
uvloop
uvicorn[standard]==0.29.0       # Serveur ASGI pour FastAPI
python-multipart==0.0.9         # Pour gérer les fichiers FastAPI
pydantic==2.7.1                 # Validation de données (FastAPI, modèles)
httptools==0.5.0
prometheus-fastapi-instrumentator==6.1.0
email-validator>=2.0            # Validation emails

# MLOps
mlflow==2.13.0                  # Tracking d’expériences ML
openpyxl==3.1.2

dvc[http]
mlflow
click
pyarrow
pandas
dvc-webdav
s3fs




