# Environnement Python recommandé : 3.10; testé avec DVC[gdrive]==3.44.0

# Core Scientific & Data Manipulation
numpy==1.26.4                    # Calcul scientifique ok
pandas>=2.2.0                   # Manipulation de données ok
scikit-learn>=1.4.0             # Machine learning généraliste ok

# API
pydantic==2.7.1
email-validator>=2.0

# Outils enregistrement et sauvegarde de modèles
#polars-lts-cpu>=0.20.0
prometheus-fastapi-instrumentator==6.1.0

# MLOps
mlflow==2.13.0                  # Tracking d’expériences ML ok


